# Archivos de configuración local y credenciales de MySQL
config.local.php
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración de entornos de desarrollo / IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos de log
*.log